{% extends "layout.html" %} {% block h1_title %}User Table {% endblock %} 
{%block form_data %}
<div class="table-responsive">
  <table border="5" cellspacing="0" cellpadding="0" align="center" class="table table-striped table-hover table-bordered" >
    <tr align="center">
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Gender</th>
      <th>Hobby</th>
      <th>City</th>
      <th>Image</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for user in users %}
    <tr align="center" class="text-center">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.number}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.hobby}}</td>
      <td>{{user.city}}</td>
      <td><img src="{{user.image.url}} " alt=" " width="350" /></td>
      <td>
        <a href="/update/{{user.id}}" class="btn btn-outline-primary">Update</a>
      </td>
      <td>
        <a href="/delete/{{user.id}}" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
