{% extends "layout.html" %}

{% block title %}Change password{% endblock  %}

{% block h1_title %}Change password{% endblock  %}

{% block contant %}
<form method="post" >
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary me-4">Change Password</button>  
  {% comment %} <a href="/" class="btn btn-primary ">login</a> {% endcomment %}
</form>
{% endblock  %}