{% extends "layout.html" %}

{% block title %}Add new password{% endblock  %}

{% block h1_title %}Add new password{% endblock  %}

{% block contant %}
<form method="post" >
  {% csrf_token %}
  <div class="mb-3">
    <label for="n_password" class="form-label">Enter New Password</label>
    <input type="password" class="form-control" id="n_password" name="n_password">
  </div>
  <div class="mb-3">
    <label for="curr_new_password" class="form-label">confirm New password</label>
    <input type="password" class="form-control" id="curr_new_password" name="curr_new_password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-danger">{{error}}</label>
  </div>
  <button type="submit" class="btn btn-primary me-4">Submit</button>  
  {% comment %} <a href="/" class="btn btn-primary ">login</a> {% endcomment %}
</form>
{% endblock  %}